header
{
	padding: 10px;

}

#logo{
	width: 10%;
	height: 10%;
	border: 2px white solid;
	padding: 5px;
}

#nom{
	width: 800px;
	height: auto;
	position: absolute;
	top: 40px;
	left: 500px;
}

a{
	color:#071e3d;
	text-decoration: none;
}

a:hover{
	color: #278ea5;
}

p
{
	color: black;
	font-family: optima, arial, helvetica, sans-serif;
}

h1
{
	color: black;
	font-family: optima, arial, helvetica, sans-serif;
	padding-left: 40%
}
h2
{
	color: black;
	font-family: optima, arial, helvetica, sans-serif;
	padding-left: 35%;
}

body{
	background-image: url(images/fond.jpg);
}

#nav
{
	background-color: white;
	padding: 10px;
	margin: 0;
	text-align: center;
	font-family: arial, helvetica, sans-serif;

}

#nav li
{
	display: inline;
	list-style: none;
	display: inline-block;
	margin: 0 30px;
}

.typeform-widget{
	padding-top: 30px;
}


footer
{
	background-color: #e0e0ec;
	padding: 20px;
	height: 300px;
	width: 97%;
}



#contact
{
	display: flex;
	flex-direction: column;
	height: 500px;
	width: 500px;
}


#reseaux
{
	background-color: #e0e0ec;
	padding: 10px;
	margin: 0;
	text-align: center;
}

#reseaux li
{
	display: inline;
	list-style: none;
	display: inline-block;
	margin: 0 30px;
}